<section class="section-stories">
    <div class="bg-video">

    </div>

    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Confirma tu correo
        </h2>
    </div>

    <div class="u-center-text u-margin-top-huge">
        <a href="/" class="btn-text">Inicio &rarr;</a>
    </div>
</section>
