<h2>Registrar nuevo usuario</h2>
<form action="/signup" method="post">
  <label for="name">Nombre (Obligatorio)</label>
  <br/>
  <input type="text" name="name" placeholder="Nombre(s)"/>
  <br/><br/>
  <label for="lastName">Apellidos (Obligatorio)</label>
  <br/>
  <input type="text" name="lastName" placeholder="Apellidos"/>
  <br/><br/>
  <label for="email">Email (Obligatorio)</label>
  <br/>
  <input type="email" name="email" placeholder="Email"/>
  <br/><br/>
  <label for="password">Crea contrase単a</label>
  <br/>
  <input type="password" name="password" placeholder="Contrase単a"/>
  <br/><br/>
  <label for="password2">Confirmar contrase単a</label>
  <br/>
  <input type="password" name="password2" placeholder="Confirmar contrase単a"/>
  <br/><br/>
  <input type="text" name="role" value="{{r}}" hidden />
  <input type="submit" value="Crear cuenta"/>
</form>