
</form>

<section class="section-book">
    <div class="row">
        <div class="book">
            <div class="book__form">
                <form action="/signup" method="post" class="form">
                    <div class="u-margin-bottom-medium">
                        <h2 class="heading-secondary">
                            Nuevo usuario
                        </h2>
                    </div>
                    <div class="form__group">
                        <input type="text" name="name" class="form__input" placeholder="Nombre" id="name" required>
                        <label for="name" class="form__label">Nombre</label>
                    </div>

                    <div class="form__group">
                        <input type="text" name="lastName" class="form__input" placeholder="Apellido" id="lastName" required>
                        <label for="lastName" class="form__label">Apellidos</label>
                    </div>

                    <div class="form__group">
                        <input type="email" name="email" class="form__input" placeholder="Correo electrónico" id="email" required>
                        <label for="email" class="form__label">Correo electrónico</label>
                    </div>

                    <div class="form__group">
                        <input type="password" name="password" class="form__input" placeholder="Contraseña" id="password" required>
                        <label for="password" class="form__label">Contraseña</label>
                    </div>
  
                    <div class="form__group">
                        <input type="password" name="password2" class="form__input" placeholder="Confirmar contraseña" id="password2" required>
                        <label for="password2" class="form__label">Confirmar contraseña</label>
                    </div>  
  
                        <input type="text" name="role" value="{{r}}" hidden />

                    <div class="form__group">
                        <button  type="submit" class="btn btn--grey">Crear cuenta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
