
<h2>PIDE GRUMATE</h2>
<div id="map" style="width:100%;height:400px;"></div>
{{!-- ESTO ES LO QUE VA ABAJO DEL MAPA --}}
<input id="origin-input" class="controls" type="text" placeholder="Ingresa tu destino" style="width:250px">
<input id="destination-input" class="controls" type="text" placeholder="Confirma tu destino" style="width:250px">

<div id="mode-selector" class="controls">
  <input type="radio" name="type" id="changemode-walking" hidden>
  <label for="changemode-walking" hidden>Walking</label>

  <input type="radio" name="type" id="changemode-transit" hidden>
  <label for="changemode-transit" hidden>Transit</label>

  <input type="radio" name="type" id="changemode-driving" checked="checked" hidden>
  <label for="changemode-driving" hidden>Driving</label>

</div>

<div>
  <form action="/app/grumate" method="post">
    <input type="submit" value="pedir viaje">
  </form>
</div>










<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmdSevL7BsfOVoHJz99JA6wjCwtxtdCus&libraries=places"></script>
<script>
  
  var  origen;

  function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
      //deshabilita la opción de cambiar entre mapa y satélite 
      mapTypeControl: false,
      zoom: 17
    });


    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(function(position) {
        const pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        //marker of current position
        const marker = new google.maps.Marker({
          position: pos,
          map,
          title: 'Current position'
        });
          var geocoder = new google.maps.Geocoder;
          geocoder.geocode({'location': pos}, function(results, status) {
           origen = results[0].place_id;
           console.log('results', results);
           //llamar a esa funcion
         });
        map.setCenter(pos);

      }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
    } else {
          handleLocationError(false, infoWindow, map.getCenter());
    }

    //autocomplete to places in the inputs
    new AutocompleteDirectionsHandler(map);
  };

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
  };

  //aquí empieza lo de rutas 
  function AutocompleteDirectionsHandler(map) {

    this.map = map;
    this.originPlaceId = null;
    this.destinationPlaceId = null;
    this.travelMode = 'DRIVING';
    var originInput = document.getElementById('origin-input');
    var destinationInput = document.getElementById('destination-input');
    var modeSelector = document.getElementById('mode-selector');
    this.directionsService = new google.maps.DirectionsService;
    this.directionsDisplay = new google.maps.DirectionsRenderer;
    this.directionsDisplay.setMap(map);

        var originAutocomplete = new google.maps.places.Autocomplete(
            originInput, {placeIdOnly: true});
        var destinationAutocomplete = new google.maps.places.Autocomplete(
            destinationInput, {placeIdOnly: true});

        this.setupClickListener('changemode-walking', 'WALKING');
        this.setupClickListener('changemode-transit', 'TRANSIT');
        this.setupClickListener('changemode-driving', 'DRIVING');

        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
      }

      // Sets a listener on a radio button to change the filter type on Places
      // Autocomplete.
      AutocompleteDirectionsHandler.prototype.setupClickListener = function(id, mode) {
        var radioButton = document.getElementById(id);
        var me = this;
        radioButton.addEventListener('click', function() {
          me.travelMode = mode;
          me.route();
        });
      };

      AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
        var me = this;
        autocomplete.bindTo('bounds', this.map);
        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.place_id) {
            window.alert("Please select an option from the dropdown list.");
            return;
          }
          if (mode === 'ORIG') {
            me.originPlaceId = place.place_id;
          } else {
            me.destinationPlaceId = place.place_id;
          }
          me.route();
        });

      };

      AutocompleteDirectionsHandler.prototype.route = function() {
        if (!this.originPlaceId || !this.destinationPlaceId) {
          return;
        }
        var me = this;

        this.directionsService.route({
          origin: {'placeId': origen},
          destination: {'placeId': this.destinationPlaceId},
          travelMode: this.travelMode
        }, function(response, status) {
          if (status === 'OK') {
            me.directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      };


  initMap();
</script>

