<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navTop">
      <a href="/">Home</a>
      <a href="/app">App</a>
      <a href="/signup">Sign In</a>
      <a href="/login">Log in</a>
    </nav>
    
    {{{body}}}
  
    <script src='/javascripts/script.js'></script>
  </body>
</html>
