<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navTop">
      <a href="/">Home</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log in</a>
    </nav>
    
    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
