<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="section-features">
    
    <div class="row">
        <div class="col-1-of-2">
            <div class="feature-box">
                <i class="feature-box__icon fas fa-fire"></i>
                <h3 class="heading-tertiary u-margin-bottom-small"><a class="underl" href="/signup?role=driver">Crear cuenta Conductor</a></h3>
                <p class="feature-box__text">
                    Registrate para poder incluirte en nuestra base de datos como Grumy Helper y ayuda a quien te necesite y se encuentre cerca!!!
                </p>
            </div>
        </div>

        <div class="col-1-of-2">
            <div class="feature-box">
                <i class="feature-box__icon fas fa-user"></i>
                <h3 class="heading-tertiary u-margin-bottom-small"><a class="underl" href="/signup?role=user">Crear cuenta Usuario</a></h3>
                <p class="feature-box__text">
                    Todos estamos expuestos a tener una emergencia y necesitar apoyo, registrate y te apoyaremos en todo momento y lugar!!!
                </p>
            </div>
        </div>

    </div>
</section>