<h2>Crear cuenta</h2>

<div class="container">

  <div class="driver">
    <h2>Conductor</h2>
    <p>Únete al equipo de Grumate</p>
    <a href="/signup/driver">Crear cuenta de conductor</a>
  </div>

  <div class="user">
    <h2>Usuario</h2>
    <p>Se un nuevo usuario de Grumate</p>
    <a href="/signup/user">Crear cuenta de conductor</a>
  </div>

</div>


<style>
  .container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 450px;
    margin-top: 100px;
    align-items: center;
    align-content: center;
  }

  .driver{
    width: 40%;
  }

  .user{
    width: 40%;
  }
</style>